@model InteractHealthProDatabase.Models.InsuranceCompany

@{
    ViewData["Title"] = "Details";
}


<div class="form-group row align-items-center px-1">
    <h1 class="col-auto">@Html.DisplayFor(model => model.Title)</h1>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary btn-sm col-auto mx-2">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger btn-sm col-auto mx-2">Delete</a>
    <span class="col"></span>
    <a asp-action="Index" asp-route-id="" class="btn btn-secondary col-auto ml-auto">Back</a>
    <hr />
</div>

<div class="row gap-5">
    @* Health Files List *@
    <div class="row col-lg-6">
        <legend class="p-0">Health Claim</legend>
        <table class="table table-hover border">
            <thead>
                <tr>
                    <th>Claim Ref</th>
                    <th>Other Claim Ref</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null || Model.InsuranceClaims?.Count == 0)
                {
                    <tr>
                        <td colspan="3" class="text-center text-warning">
                            No Insurance claim added yet.
                        </td>
                    </tr>
                }
                else
                {
                    @for (int i = 0; i < Model.InsuranceClaims?.Count; i++)
                    {
                        <tr>
                            <td>
                                <a asp-action="Details" asp-controller="InsuranceClaim"
                            asp-route-id="@Model.InsuranceClaims.ElementAt(i).Id">
                                    @Model.InsuranceClaims.ElementAt(i).Claimref
                                </a>
                            </td>
                            <td>
                                @Model.InsuranceClaims.ElementAt(i).OtherClaimRef
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    @* Health Contacts List *@
    <div class="row col-lg-6">
        <div class="d-flex p-0">
            <legend class="flex-grow-1">Contacts</legend>
            <a asp-action="Create" asp-controller="HealthCompanyContact" asp-route-healthCompanyId="@Model?.Id"
                class="btn btn-sm btn-primary col-auto mb-2">Add Contact</a>
        </div>
        <table class="table table-hover border">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>CellPhone</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null || Model.InsuranceCompanyContacts?.Count == 0)
                {
                    <tr>
                        <td colspan="3" class="text-center text-warning">
                            No contacts added yet.
                        </td>
                    </tr>
                }
                else
                {
                    @for (int i = 0; i < Model.InsuranceCompanyContacts?.Count; i++)
                    {
                        <tr>
                            <td>
                                <a asp-action="Details" asp-controller="InsuranceCompanyContact"
                            asp-route-id="@Model.InsuranceCompanyContacts.ElementAt(i).Id">
                                    @Model.InsuranceCompanyContacts.ElementAt(i).ContactName
                                </a>
                            </td>
                            <td>
                                <a href="mailto:@Model.InsuranceCompanyContacts.ElementAt(i).Email">
                                    @Model.InsuranceCompanyContacts.ElementAt(i).Email
                                </a>
                            </td>
                            <td>
                                <a href="tel:@Model.InsuranceCompanyContacts.ElementAt(i).CellPhone">
                                    @Model.InsuranceCompanyContacts.ElementAt(i).CellPhone
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@* <h1>Details</h1>

<div>
    <h4>InsuranceCompany</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@
