@model InteractHealthProDatabase.Models.BodyTrauma

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BodyTrauma</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrEdit" asp-route-clientId="@ViewBag.ClientId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Bruising" /> @Html.DisplayNameFor(model => model.Bruising)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Bleeding" /> @Html.DisplayNameFor(model => model.Bleeding)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Fracture" /> @Html.DisplayNameFor(model => model.Fracture)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LossOfContentiousness" /> @Html.DisplayNameFor(model => model.LossOfContentiousness)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HitToTheHead" /> @Html.DisplayNameFor(model => model.HitToTheHead)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="None" /> @Html.DisplayNameFor(model => model.None)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PainRightAway" /> @Html.DisplayNameFor(model => model.PainRightAway)
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </div>
                <div class="col">
                    <button class="btn btn-danger" onclick="Javascript:window.history.back(1); return false;">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
