@model InteractHealthProDatabase.Models.ClientMVA

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClientMVA</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OHIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OHIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DominantHand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DominantHand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accommodation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accommodation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccommodationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccommodationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Household)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Household)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Relationship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Relationship)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CellPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CellPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interpreter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interpreter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferredLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferredLanguage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Children)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Children)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
