@model InteractHealthProDatabase.Models.AccidentDetail

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AccidentDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeAcc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeAcc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalHistoryUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalHistoryUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMedVisit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMedVisit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weather)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weather)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visibility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visibility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoadCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoadCondition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccidentLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccidentLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccidentDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccidentDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliceBadgeNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliceBadgeNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliceDept)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliceDept)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliceReportAccDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliceReportAccDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliceReportCenter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliceReportCenter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliceCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliceCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmeAtScenePolice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmeAtScenePolice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmeAtSceneAmbulance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmeAtSceneAmbulance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmeAtSceneFirefighters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmeAtSceneFirefighters)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmeAtSceneTowing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmeAtSceneTowing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmeAtSceneNoOneCame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmeAtSceneNoOneCame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakeByAmbulance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakeByAmbulance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
